<%- include('./partials/header.ejs'); %>
        
<div class="container">
<div>
                <h1>New Member Registration</h1>
        </div>

        <form action="/newMember" method="POST" class="form-group">
                <label>Name</label>
                <input type="text" name="fullName" class="form-control" aria-describedby="emailHelp"> <br>

                <label>Username</label>
                <input type="text" name="username" class="form-control" aria-describedby="emailHelp"> <br>

                <label>Email</label>
                <input type="text" name="email_ID" class="form-control" aria-describedby="emailHelp"> <br>

                <p class="text-secondary">Day Routine</p> <br>
                <span>Select your Face Wash</span>
                <select name="faceWash" class="form-control">
                        <%      for (let i = 0; i < faceWash.length; i++) { %>
                        <option value=<%=  faceWash[i] %>><%=   faceWash[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Toner</span>
                <select name="toner" class="form-control">
                        <%      for (let i = 0; i < toner.length; i++) { %>
                        <option value=<%= toner[i] %>><%=   toner[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Toner</span>
                <select name="serum" class="form-control">
                        <%      for (let i = 0; i < serum.length; i++) { %>
                        <option value=<%=  serum[i] %>><%=   serum[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Moisturizer</span>
                <select name="moisturizer" class="form-control">
                        <%      for (let i = 0; i < moisturizer.length; i++) { %>
                        <option value=<%=  moisturizer[i] %>><%=   moisturizer[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your SPF</span>
                <select name="spf" class="form-control">
                        <%      for (let i = 0; i < spf.length; i++) { %>
                        <option value=<%= spf[i] %>><%=   spf[i] %></option>
                        <%  } %>
                </select><br>
                <p class="text-secondary">Night Routine</p> <br>
                <span>Select your Face Wash</span>
                <select name="faceWashNight" class="form-control">
                        <%      for (let i = 0; i < faceWashNight.length; i++) { %>
                        <option value=<%= faceWashNight[i] %>><%=   faceWashNight[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Toner</span>
                <select name="tonerNight" class="form-control">
                        <%      for (let i = 0; i < tonerNight.length; i++) { %>
                        <option value=<%= tonerNight[i] %>><%=   tonerNight[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Serum</span>
                <select name="serumNight" class="form-control">
                        <%      for (let i = 0; i < serum.length; i++) { %>
                        <option value=<%= serumNight[i] %>><%= serumNight[i] %></option>
                        <%  } %>
                </select><br>

                <span>Select your Moisturizer</span>
                <select name="moisturizerNight" class="form-control">
                        <%      for (let i = 0; i < moisturizer.length; i++) { %>
                        <option value=<%=  moisturizerNight[i] %>><%=   moisturizerNight[i] %></option>
                        <%  } %>
                </select><br>

                <button type="submit" class="btn btn-primary">Submit</button>
 
        </form>

</div>

        <%- include('./partials/footer.ejs'); %>